/* Listagem.css */

.banner {
    background-color: rgba(5, 5, 17, 0.402);
    color: #fff;
    padding: 5px;
    margin-top: 20px;
    position: relative;
    z-index: 1;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 10px; /* Adiciona bordas arredondadas com um raio de 10px */
}



table {
    width: 100%;
    border-radius: 2px;
    justify-content: center;
    border-collapse: collapse;
    margin-top: 10px ; /* Espaçamento superior da tabela em relação ao banner */
}

th, td {
    border: 1px solid #ddd; /* Borda da célula da tabela */
    padding: 8px; /* Espaçamento interno da célula */
    text-align: left; /* Alinhamento do texto à esquerda */
}

th {
    justify-content: center;
    background-color:rgba(50, 5, 62, 0.679);/* Cor de fundo do cabeçalho da tabela */
    color: white; /* Cor do texto no cabeçalho da tabela */
}
h2{
    font-size: 2em;
    color: white;
    text-align: center;
}
